<header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="http://hpediatrico.gob.ar/" class="navbar-brand">
          Home</a></div>

        <ul class="navbar-nav">
          <li><a routerLink="/tramites" class="nav-link">Tramites</a></li>
          <li><a routerLink="/ayuda" class="nav-link">Ayuda</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Iniciar Sesión</a></li>
            <li><a routerLink="/logout" class="nav-link">Cerrar Sesión</a></li>
        </ul>

      </nav>
</header>
