<h1>Detalle de Estudios</h1>

<div class="container"> 
<table class="table">
  <thead>
      <tr>
        <th>Id del Estudio</th>
        <th>Resultado</th>
        <th>Estado</th>
        <th>Fecha del Estudio</th>
        
        
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of estudios ">
         <th>{{e.ide_TramiteExamenDatoLinea}}</th>
         <th>{{e.resultadoExamen}}</th>
        <th>{{e.estadoEstudio}}</th>
        <th>{{e.fechaEstudio | date:"dd/MM/yyyy HH:mm" | uppercase}}</th>
        <th><button class="btn btn-success btn-block" (click)="borrarEstudio(e.ide_TramiteExamenDatoLinea);router.navigate(['mistramites']);">
          Borrar 
        </button></th>
        <th> <button class="btn btn-success btn-block" (click)= "router.navigate(['mistramites']);" >
          Actualizar
        </button></th>
        
        
        
     </tr>
    </tbody>
</table>
</div>