@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">   
        <h1 class="display-4">Bienvenidos</h1>
        <p>Enfermedades de Pacientes <a ha asp-page="./Enfermedades/Index" asp-route-id="">click on me!</a>.</p>
        <p>Internaciones de Pacientes <a ha asp-page="./Internaciones/Index" asp-route-id="">click on me!</a>.</p>
</div>
